<form ng-submit="submit()" name="login" class="form-signin" novalidate>
	<h1 class="form-signin-heading text-muted">Log In</h1>
	<input type="email" name="email" ng-model="email" class="form-control" placeholder="Email address" required="" autofocus="">
	<p class="help-block" ng-show="register.email.$dirty && register.email.$invalid">Email is invalid</p>

	<input type="password" name="password" class="form-control" ng-model="password" placeholder="Password" required="">

	<button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="register.$invalid">
		Log In
	</button>
	<br>
	<a ui-sref="register" class="pull-right">create Account</a>
</form>
